<div style="padding:15px;">

  <h2>DG Agent Creator</h2>

  <div class="form-group">
    <label>Nome do Agente</label>
    <input type="text" name="name"/>
  </div>

  <hr>

  <h3>Atributos</h3>

  <div class="grid grid-2col">
    <div>STR <input type="number" name="str"/></div>
    <div>CON <input type="number" name="con"/></div>
    <div>DEX <input type="number" name="dex"/></div>
    <div>INT <input type="number" name="int"/></div>
    <div>POW <input type="number" name="pow"/></div>
    <div>CHA <input type="number" name="cha"/></div>
  </div>

  <br>

  <button id="roll-attributes">Rolar Atributos (3d6 x5)</button>
  <button id="create-agent">Criar Agente</button>

</div>
